@import '../../style/_global.scss';

.menu {
    &__list {
        display: flex;
        gap: 20px;
    }

    &__link {
        color: $gray;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2em;
        transition: all 0.2s ease;
        text-shadow: rgb(255, 255, 255) 3px 0 10px;

        &:hover {
            color: #f1d03b;
        }

        &.active {
            text-shadow: #FC0 3px 0 10px;
            color: #f1d03b;
        }

        @media (max-width: 425px) {
            font-size: 20px;
        }
    }
}