@import '../../style/global';

.myTextarea {
    position: relative;
    @include shadow(0.1);
    display: block;

    &:not(:last-child) {
        margin-bottom: 45px;
    }

    &::placeholder {
        transition: 0.2s;
        transform: scaleY(1);
    }

    &__name {
        position: absolute;
        top: -23px;
        left: 0px;
        color: $gray;
        font-weight: 700;
    }

    & textarea {
        min-height: 120px;
        padding: 7px 12px;
        background: none;
        border-radius: 5px;
        font-size: 20px;
        display: block;
        width: 100%;
        min-width: 360px;
        color: #fff;
        transition: 0.2s;
        resize: none;

        &:focus {
            @include shadow(0.2);

            &::placeholder {
                transform: scaleY(0);
            }
        }

        &:hover {
            @include shadow(0.2);
        }
    }
}