@import '../../style/_global.scss';

.authWidget {
    display: flex;
    gap: 30px;
    align-items: center;

    @media (max-width:968px) {
        gap: 10px;
        font-size: 10px;
    }

    &__userEmail {
        color: $gray;
    }
}