.home {
    &__container {
        display: flex;
        gap: 15px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    &__content {
        padding: 15px 0;
        flex: 0 1 70%;

        @media (max-width: 1240px) {
            flex: 0 1 100%;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 38px;
        line-height: 1.2em;
        letter-spacing: 0.04em;

        @media (max-width: 1240px) {
            font-size: 32px;
        }

        @media (max-width: 425px) {
            font-size: 24px;
        }
    }

    &__title {
        font-size: 58px;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 10px;

        @media (max-width: 1240px) {
            font-size: 48px;
        }

        @media (max-width: 425px) {
            font-size: 38px;
        }
    }

    &__text {
        margin-top: 30px;
        font-size: 25px;
        line-height: 1.2em;
        letter-spacing: 0.04em;

        @media (max-width: 1240px) {
            margin-top: 25px;
            font-size: 22px;
        }

        @media (max-width: 425px) {
            margin-top: 15px;
            font-size: 18px;
        }
    }

}