.header {
    &__container {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 1px;
    //     height: 1px;
    //     width: 100%;
    //     background: #9aa7af;
    // }

}