.app {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    color: #e3e9e9;

    &__bg {
        background-image: url('./../img/bg2.jpg');
        // background-color: #0c0c0b;
        position: absolute;
        background-size: 100%;
        background-repeat: repeat;
        background-position: top;
        left: -10%;
        top: -10%;
        width: 120%;
        height: 120%;
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;

    }
}