@import './global';

html {
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $gray $primary-color;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {

  height: 0px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

._container {
  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1240px) {
    width: 1020px;
  }

  @media (max-width: 1080px) {
    width: 950px;
  }

  @media (max-width: 968px) {
    width: 720px;
  }

  @media (max-width: 768px) {
    width: 95%;
  }
}