.myButton {
    padding: 10px 20px;
    background: #f1d03b;
    font-weight: 700;
    color: #373c3f;
    border-radius: 10px;
    transition: 0.2s;

    &:hover {
        background: #bba130;
    }

    &--red {
        background: #f13b3b;

        &:hover {
            background: #bb3030;
        }
    }
}