@import '../../../../../style/global';

.projectAdminPanel {
    @include bg-black(0.3);
    @include shadow(0.1);
    padding: 15px 5px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    &__main {
        flex: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__image {
        flex: 0 0 45px;
        height: 45px;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        & picture img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 30;
        }
    }

    &__name {
        flex: 1 0 auto;
        font-size: 20px;
        cursor: pointer;
    }

    &__info {
        flex: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: 0.2s;

        &.active {
            max-height: 100%;
        }
    }

    &__description {
        margin-bottom: 15px;
        flex: 1 0 auto;
    }

    &__technologies {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    &__technology {}

}